.rw-words{
	display: inline;
	text-indent: 10px;
    	margin: 0;
    text-align: left;
	/*text-shadow: 2px 2px 2px #000;*/
}
.rw-words-1 span{
	position: absolute;
	opacity: 0;
	overflow: hidden;
	color: #5286d6;
	-webkit-animation: rotateWord 60s linear infinite 0s;
	-ms-animation: rotateWord 60s linear infinite 0s;
	animation: rotateWord 60s linear infinite 0s;
}
.rw-words-1 span:nth-child(2) { 
    -webkit-animation-delay: 3s; 
	-ms-animation-delay: 3s; 
	animation-delay: 3s; 
	color: #85b77e;
}
.rw-words-1 span:nth-child(3) { 
    -webkit-animation-delay: 6s; 
	-ms-animation-delay: 6s; 
	animation-delay: 6s; 
	color: #FFC059;	
}
.rw-words-1 span:nth-child(4) { 
    -webkit-animation-delay: 9s; 
	-ms-animation-delay: 9s; 
	animation-delay: 9s; 
	color: #7a6b9d;
}
.rw-words-1 span:nth-child(5) { 
    -webkit-animation-delay: 12s; 
	-ms-animation-delay: 12s; 
	animation-delay: 12s; 
	color: #DADFFB;
}
.rw-words-1 span:nth-child(6) { 
    -webkit-animation-delay: 15s; 
	-ms-animation-delay: 15s; 
	animation-delay: 15s; 
	color: #FCDE16;
}
.rw-words-1 span:nth-child(7) { 
    -webkit-animation-delay: 18s; 
	-ms-animation-delay: 18s; 
	animation-delay: 18s; 
	color: #E17A7A;
}
.rw-words-1 span:nth-child(8) { 
    -webkit-animation-delay: 21s; 
	-ms-animation-delay: 21s; 
	animation-delay: 21s; 
	color: #9b6b9d;
}
.rw-words-1 span:nth-child(9) { 
    -webkit-animation-delay: 24s; 
	-ms-animation-delay: 24s; 
	animation-delay: 24s; 
	color: #9b6b9d;
}
.rw-words-1 span:nth-child(10) { 
    -webkit-animation-delay: 27s; 
	-ms-animation-delay: 27s; 
	animation-delay: 27s; 
	color: #9b6b9d;
}
.rw-words-1 span:nth-child(11) { 
    -webkit-animation-delay: 30s; 
	-ms-animation-delay: 30s; 
	animation-delay: 30s; 
	color: #9b6b9d;
}
.rw-words-1 span:nth-child(12) { 
    -webkit-animation-delay: 33s; 
	-ms-animation-delay: 33s; 
	animation-delay: 33s; 
	color: #9b6b9d;
}
.rw-words-1 span:nth-child(13) { 
    -webkit-animation-delay: 36s; 
	-ms-animation-delay: 36s; 
	animation-delay: 36s; 
	color: #9b6b9d;
}
.rw-words-1 span:nth-child(14) { 
    -webkit-animation-delay: 39s; 
	-ms-animation-delay: 39s; 
	animation-delay: 39s; 
	color: #9b6b9d;
}
.rw-words-1 span:nth-child(15) { 
    -webkit-animation-delay: 42s; 
	-ms-animation-delay: 42s; 
	animation-delay: 42s; 
	color: #9b6b9d;
}
.rw-words-1 span:nth-child(16) { 
    -webkit-animation-delay: 45s; 
	-ms-animation-delay: 45s; 
	animation-delay: 45s; 
	color: #9b6b9d;
}
.rw-words-1 span:nth-child(17) { 
    -webkit-animation-delay: 48s; 
	-ms-animation-delay: 48s; 
	animation-delay: 48s; 
	color: #9b6b9d;
}
.rw-words-1 span:nth-child(18) { 
    -webkit-animation-delay: 51s; 
	-ms-animation-delay: 51s; 
	animation-delay: 51s; 
	color: #9b6b9d;
}
.rw-words-1 span:nth-child(19) { 
    -webkit-animation-delay: 54s; 
	-ms-animation-delay: 54s; 
	animation-delay: 54s; 
	color: #9b6b9d;
}
.rw-words-1 span:nth-child(20) { 
    -webkit-animation-delay: 57s; 
	-ms-animation-delay: 57s; 
	animation-delay: 57s; 
	color: #9b6b9d;
}


@-webkit-keyframes rotateWord {
    0% { opacity: 0; }
    0.6% { opacity: 0; -webkit-transform: translateY(-30px); }
	1.5% { opacity: 1; -webkit-transform: translateY(0px);}
    5.1% { opacity: 1; -webkit-transform: translateY(0px); }
	6% { opacity: 0; -webkit-transform: translateY(30px); }
	24% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
    0% { opacity: 0; }
    0.6% { opacity: 0; -ms-transform: translateY(-30px); }
    1.5% { opacity: 1; -ms-transform: translateY(0px);}
    5.1% { opacity: 1; -ms-transform: translateY(0px); }
	6% { opacity: 0; -ms-transform: translateY(30px); }
	24% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes rotateWord {
    0% { opacity: 0; }
    0.6% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
	1.5% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
    5.1% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
	6% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }
	24% { opacity: 0; }
    100% { opacity: 0; }
}
@media screen and (max-width: 768px){
	.rw-sentence { font-size: 18px; }
}
@media screen and (max-width: 320px){
	.rw-sentence { font-size: 9px; }
}

.placeholder{
    visibility: hidden;
}